
.user-info-container{
    animation: fadeIn 0.5s ease-in forwards;
}

.user-info{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;

}
